{% from 'calendar_image.html' import calendar_image %}
{% from 'date2.html' import datetime %}

{% macro table(events, print_date, print_time, print_date_time, mark_changes=False, calendar_title=False) -%}
    {% if events|count > 0 %}
    <table style="border-collapse: collapse; width: 100%;">
        {% if calendar_title %}
        <tr>
            <th style="padding-top: 1em; padding-bottom: 1em; background-color: #4472C4;
            color: #ffffff; padding: 0.25em; border: 1px solid #ffffff; text-align: center;" colspan="3">{{ calendar_title }}</th>
        </tr>
        {% endif %}
        <tr>
            <th class="darkblue textblack" style="background-color: #4472C4;
            color: #ffffff; padding: 0.25em; border: 1px solid #ffffff; text-align: center;" colspan="2">Datum</th>
            <th class="darkblue" style="background-color: #4472C4;
            color: #ffffff; padding: 0.25em; border: 1px solid #ffffff; text-align: center;">Activiteit</th>
        </tr>
        {% for event in events %}
        <tr>
            <th class="darkblue" style="background-color: #4472C4;
            color: #ffffff; padding: 0.25em; border: 1px solid #ffffff;"><a href="{{ event['link'] }}/ics_view"><img class="cal" src="{{ calendar_image() }}" width="16" height="16"></a></th>
            <th class="lightblue date left" style="background-color: #B4C6E7; color: #111111; padding: 0.25em; border: 1px solid #ffffff; text-align: left; width: 12rem;">
                {{ datetime(event, print_date, print_time, print_date_time, mark_changes) }}
            </th>
            <td class="lightblue" style="background-color: #B4C6E7; color: #111111; padding: 0.25em; border: 1px solid #ffffff;">
                <a target="_blank" href="{{ event['link'] }}">
                    {% if mark_changes and event["change"] == "changed" and "title" in event["changes"] %}
                        <span style="color: red;">{{ event["title"] }}</span>
                    {% else %}
                        {{ event["title"] }}
                    {% endif %}
                </a>
                <br>
                {% if mark_changes and event["change"] == "changed" and "description" in event["changes"] %}
                    <span style="color: red;">{{ event["description"] }}</span>
                {% else %}
                    {{ event["description"] }}
                {% endif %}
               </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    /
    {% endif %}
{%- endmacro %}

